<ion-view title="Timesheet summary">
    
    <ion-content ng-controller="TimesheetController">
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-compose" ng-click="advancedSearch = !advancedSearch"></a>
    </ion-nav-buttons>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Customer
                </div>
                <select ng-model="customer" ng-options="c.name for c in customers" placeholder="Customer" required>
                </select>
            </label>
            <label class="item item-input item-stacked-label" ng-show="advancedSearch">
                <span class="input-label">Year</span>
                <input type="number" ng-model="year" min="2014" required />
            </label>
            <label class="item item-input item-stacked-label" ng-show="advancedSearch">
                <span class="input-label">Month</span>
                <input type="number" ng-model="month" min="1" required />
            </label>
            <div class="item item-divider">
                Summary
            </div>
            <div class="item">
                Billable
                <span class="badge badge-royal">{{info.hoursWorked}} hours</span>
            </div>
            <div class="item">
                Worked
                <span class="badge badge-royal">{{info.daysWorked}} days</span>
            </div>
            <div class="item">
                Holiday
                <span class="badge badge-royal">{{info.daysAbsence}} days</span>
            </div>
            <div class="item">
                Tracked
                <span class="badge badge-royal">{{info.daysTracked}} days</span>
            </div>
            <div class="padding">
                <a class="button button-block button-positive" ng-href="{{downloadUrl}}/{{year}}/{{month}}/{{customer._id}}/{{token}}" target="_blank"><i class="icon ion-ios7-cloud-download"></i> Download</a>
            </div>
        </div>
    </ion-content>
</ion-view>
