body {
    padding: 20px;
}

nav:hover #close-button {
  opacity: 1;
}

#close-button {
  float: right;
  padding: 0 5px 2px 5px;
  font-weight: bold;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
}
