<ion-view title="Holidays">
    <ion-content>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Naam</span>
            <input type="text" placeholder="Naam feestdag" ng-model="holiday.name">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Datum  {{holiday.date }}</span>
             <input type="date" name="input" ng-model="holiday.date" placeholder="yyyy-MM-dd"   />
          </label>
        </div>
        <button class="button button-positive">
          Save
        </button>

    </ion-content>
</ion-view>
