  <ion-view title="Holidays">
    <ion-content>
        <div class="item item-button-right" ng-repeat="holiday in holidays">
            <div class="row">
                <div class="col col-90">
                    {{holiday.name}} <br/>
                     {{holiday.date |date:fullDate}}
                </div>
                <div class="col col-10">
                    <a class="button button-small button-balanced" ui-sref="gretel.holidays.edit({id:holiday.id})">
                        <i class="icon ion-edit"></i>
                    </a>
                    <button type="button" class="button button-small button-assertive" ng-click="remove(trackedTime)">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </div>
            </div>
        </div>
    </icon-content>
</ion-view>
