<ion-view title="Holidays">
    <ion-nav-buttons side="right">
         <a class="button button-icon button-clear ion-ios7-plus-outline" ui-sref="gretel.holidays.add()"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div class="item item-button-right" ng-repeat="holiday in holidays">
            <div class="row">
                <div class="col col-90">
                    {{holiday.name}}
                    <br/>{{holiday.date |date:fullDate}}
                </div>
                <div class="col col-10">
                    <a class="button button-small button-balanced" ui-sref="gretel.holidays.edit({id:holiday._id})">
                        <i class="icon ion-edit"></i>
                    </a>
                    <button type="button" class="button button-small button-assertive" ng-click="remove(holiday._id)">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </div>
            </div>
        </div>
    </icon-content>
</ion-view>
