<ion-view title="Holidays">
    <ion-content>
        <form name="form" ng-submit="saveHoliday(form.$valid)" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name holiday" ng-model="holiday.name" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="holiday.date" placeholder="yyyy-MM-dd" required />
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">Save</button>
                <a class="button button-block" ui-sref="gretel.holidays.list">Cancel</a>
            </div>
        </form>
    </ion-content>
</ion-view>
