<ion-side-menus ng-controller="MenuController">


    <style>
        ion-side-menu a.hastaxons::after {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            align-items: center;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            position: absolute;
            top: 0;
            right: 11px;
            height: 100%;
            color: #ccc;
            content: "\f125";
            text-transform: none;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            font-size: 16px;
            font-family: Ionicons;
            line-height: 1;
            speak: none;
        }
    </style>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
            </button>
        </ion-nav-buttons>
        <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" expose-aside-when="large">
        <ion-header-bar class="bar-assertive">
            <button ng-click="showTopLevelCategories()" ng-class="{ hide: hideSidemenuBackButton }" class="button back-button button-icon icon ion-arrow-left-c button back-button button-icon icon ion-arrow-left-c" type="backType" label="backLabel" icon="backIcon"
            style="">
            </button>
            <h1 class="title">Gretel</h1>
        </ion-header-bar>


        <ion-content>
            <ul class="list">
                <div ng-repeat="menuElem in menuElems">
                    <!-- displayed only 2 levels of nested categories, other levels are in the subcategories filter triggered by "Refine" button -->

                    <a ng-if="menuElem.taxons.length > 0" ng-click="showSubcategories(menuElem)" class="item item-icon-left hastaxons">
                        <i class="icon {{menuElem.icon}}"></i> {{menuElem.name}}
                    </a>
                    <a ng-if="menuElem.taxons.length == 0" ui-sref="{{menuElem.state}}" class="item item-icon-left" menu-close>
                        <i class="icon {{menuElem.icon}}"></i> {{menuElem.name}}
                    </a>
                </div>
            </ul>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
