  <h2>Add Location</h2>
    <div>   
      <form ng-submit="addLocation()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" ng-model="name" placeholder="Enter name"></input>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" ng-model="description" placeholder="Description"></textarea>
          </div>
        <input class="btn btn-primary" type="submit" value="Add">
        <a class="btn btn-default" href="#/">Cancel</a>
      </form>
    </div>