
<a class="btn btn-default" href="#/">Back</a>
  <h2>Change Device</h2>
    <div ng-controller="ChangeDeviceController">
      <form ng-submit="changeDevice(devicename)" class="form-horizontal">          
          <div class="form-group">
            <label for="name" class="control-label col-sm-2">Device name</label>
            <div class="col-sm-4"><input type="text" ng-model="devicename" class="form-control" /></div>
          </div>        
          <input class="btn btn-primary" type="submit" value="Change">
      </form>
    </div>