<ion-view title="Error">
    <ion-content>
        <div ng-controller="ErrorController">


            <div class="card">
              <div class="item item-divider">
                Something went wrong
              </div>
              <div class="item item-text-wrap">
                {{errorMessage}}
              </div>
            </div>

            <button ng-click="retryAuthenticate()">Retry To Authenticate</button>
            <br/> <br/> <br/>
            <button ng-click="clearLogs()">Clear logs</button>

            <div ng-repeat="log in logs">
              {{log}}
            </div>  

        </div>
    </ion-content>
</ion-view>
