  <ion-view title="Holidays">
    <ion-content ng-controller="HolidaysController">
        <div class="item item-button-right" ng-repeat="holiday in holidays">
            <div class="row">
                <div class="col col-90">
                    {{holiday.name}} <br/>
                     {{holiday.date |date:fullDate}}
                </div>
                <div class="col col-10">
                    <button type="button" class="button button-small button-balanced" ng-click="edit(holiday)">
                        <i class="icon ion-checkmark-round"></i>
                    </button>
                    <button type="button" class="button button-small button-assertive" ng-click="remove(trackedTime)">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </div>
            </div>
        </div>
    </icon-content>
</ion-view>
