<ion-view title="Welcome {{deviceName}}" class="stable-bg">
    <ion-nav-buttons side="right">
        <a href="#/gretel/settings" class="button button-icon button-clear ion-gear-b" ng-class="{ 'button-balanced': currentlyTracking, 'button-assertive': !currentlyTracking }"></a>
    </ion-nav-buttons>
    <ion-content padding="true">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list card" ng-if="!zone && !loading">
            <div class="item">
                <h2>You're current location is not a registered zone.</h2>
                <p>Register your current location as a zone if it means something to you (e.g home, workplace, etc...).</p>
            </div>

            <a class="item item-icon-left royal" href="#/gretel/registerzone">
                <i class="icon ion-compose"></i>
                Register zone
            </a>
        </div>

        <div class="list card" ng-if="zone && !loading">
            <div class="item">
                <h2>You are at <b class="royal">{{zone.zoneDetails.name}}</b>.</h2>
                <p>Customer: <b>{{activity.activityDetails.name}}</p>
            </div>

            <a href="#/gretel/changecustomer" class="item item-icon-left dark" role="button">
                <i class="icon ion-briefcase"></i>
                Change customer
            </a>
            <a href="#/gretel/changezone" class="item item-icon-left dark" role="button">
                <i class="icon ion-edit"></i>
                Change zone details
            </a>
        </div>

        <div class="list card">
            <a class="item item-icon-left dark" role="button" ui-sref="gretel.absences.add()">
                <i class="icon ion-calendar"></i>
                Enter an absence
            </a>
        </div>

        <div  ng-if="error">
               
            <a ui-sref="gretel.error" > {{error}}</a> 
        </div>

    </ion-content>
</ion-view>
