<a href="#/locationDetails" class="btn btn-default" role="button">Location Details</a>
<a href="#/manageActivities" class="btn btn-default" role="button">Manage activities</a>

<br/><br/>

<div class="alert alert-warning" ng-if="!zone && !loading">
	You're current location is not a registered zone.<br/>
	Register your current location as a zone if it means something to you (e.g home, workplace, etc...).    
    <br/><br/>
    <a href="#/registerzone" class="btn btn-warning" role="button">Register zone</a>
</div>

<div class="alert alert-success" ng-if="zone && !loading">
    You are at <b>{{zone.zoneDetails.name}}</b>.<br/>
    {{zone.zoneDetails.description}}<br/><br/>

    Customer: <b>{{activity.activityDetails.name}}</b>
    <br/><br/>
    <a href="#/changecustomer" class="btn btn-success" role="button">Change customer</a>
    <a href="#/changezone" class="btn btn-success" role="button">Change zone details</a>
</div>

<div class="alert alert-info">
    Device: {{deviceName}} <a href="#/changedevicename" class="btn btn-info" role="button">Change Device Name</a>
</div>

<br/>