<a class="btn btn-default" href="#/">Back</a>


<div  ng-controller="settingwizardController">
  <div class="alert alert-info">
    Enter working hours. The application will not track you before and after these hours.
  </div>
    <div>   
        <table class="table">
            <tbody>

                <tr>
                    <td>
                      <button class="btn  btn-default" ng-click="weekdays.toggleTrack()" >
                        Weekdays
                      </button>
                    <td>
                    <td ng-class="{'hide': !weekdays.track}">from 
                      <input type="number" ng-model="weekdays.from"/> to 
                      <input type="number" ng-model="weekdays.to"/>  
                    </td>
                    <td ng-class="{'hide': weekdays.track}">
                      Don't track
                    </td>
                </tr>

                <tr>
                    <td>
                      <button class="btn  btn-default" ng-click="weekend.toggleTrack()" >
                        Weekends
                      </button>
                    <td>
                    <td ng-class="{'hide': !weekend.track}">from
                      <input type="number" ng-model="weekend.from"/> to 
                      <input type="number" ng-model="weekend.to"/>  
                    </td>
                    <td ng-class="{'hide': weekend.track}">
                      Don't track
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <br />
    <br />
    <br />
    <div>
      <table>
        <tr>
          <td>Debug:</td>
        </tr>
        <tr>
          <td>track weekdays: {{weekdays.track}}</td>
        </tr>
        <tr>
          <td>track weekends: {{weekend.track}}</td>
        </tr>
      </table>
    </div>

  </div>



